$primary-color: #ea1b75;
$secondary-color: #1976d2;
$danger-color: #b71c1c;
$font-color: #333;
$font-color-light: lighten($font-color, 20%);

$bp-desktop-hd: 1800px;
$bp-desktop: 1200px;
$bp-tablets: 992px;
$bp-ls-tablets: 768px;
$bp-phones: 540px;

// border
$border-radius: 6px;
$border-color: #ccc;